body {
	margin: 0px;
}

.colorText {
	
	display: block;
	margin-left: 40%;
	font-size: 20px;
}

.slider_container {
	position: absolute;
	left: 10%;

	width: 20px;
	height: 500px;
	border: 2px solid black;
}

#slider_object {
	
	position: relative;
	top: 0px;
	
	width: 15px;
	height: 15px;
	
	border: 2px solid red;
	border-radius: 100%;
	
	
}

.demo-container {
	margin-left: 14%;
}